<html>
<head>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div id="app">
        <ol>
            <li v-for="strip in userStrips">
                <span>{{strip.name}}</span>
                <span v-on:click="deleteStrip(strip)">X</span>
            </li>
        </ol>

        <button class="btn btn-danger" v-on:click="toggleStrip">Add strip</button>
        <ol v-if="add">
            <li v-for="strip in allStrips">
                <img v-bind:alt="strip.name" v-bind:src="'images/'+ strip.image" v-on:click="addStrip(strip)">
            </li>
        </ol>
    </div>

    <script src="https://cdn.jsdelivr.net/lodash/4.17.4/lodash.min.js"></script>
    <script src="https://unpkg.com/vue"></script>
    <script src="js/strips.js"></script>
    <script src="js/app.js"></script>
</body>

</html>