<html>

<head>
    <link rel="stylesheet" href="css/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>

    <div id="app">
        <div class="navigatie">
            <div class="logo"> </div>
            <nav>
                <a href="/"> Home </a>
                <router-link to="/my">Mine</router-link>
                <router-link to="/add">Add</router-link>
                <div class="sm-login">
                    <a href="#"><i class="fa fa-facebook-official" aria-hidden="true"></i></a>
                    <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                    <a href="#"><i class="fa fa-youtube-play" aria-hidden="true"></i></a>
                </div>
            </nav>
        </div>
        <div class="container-fluid">
            <p>
                <!-- use router-link component for navigation. -->
                <!-- specify the link by passing the `to` prop. -->
                <!-- <router-link> will be rendered as an `<a>` tag by default -->

            </p>
            <!-- route outlet -->
            <!-- component matched by the route will render here -->
            <router-view></router-view>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/lodash/4.17.4/lodash.min.js"></script>
    <script src="vendor/vex.combined.min.js"></script>
    <script src="https://unpkg.com/vue"></script>
    <script src="https://unpkg.com/vue-router"></script>
    <script src="https://www.gstatic.com/firebasejs/4.0.0/firebase.js"></script>
    <script src="https://unpkg.com/vuefire/dist/vuefire.js"></script>
    <script>
        vex.defaultOptions.className = 'vex-theme-default'
    </script>

    <script type="x/templates" id="strip-items">
        <div class="strip-items row">
            <div v-on:click="stripClick(strip)" v-for="strip in strips" class="strip-item" v-bind:class="strip.orientation==='landscape'? 'landscape': 'portrait'"
                v-bind:style="{backgroundColor: strip.color }">
                <img v-bind:alt="strip.name" v-bind:src="'images/'+ strip.image">
            </div>
        </div>
    </script>

    <script type="x/templates" id="strip-wall">
        <div class="strip-items row">
            <svg class="stripmuur" x="0px" y="0px" width="1920px" height="1080px" viewBox="0 0 1920 1080" v-if="strips.length===1">
                <rect class="strip-1" width="1920" height="1080" v-bind:style="{fill:strips[0].color}" />
                <image class="strip-1" v-bind:href="'images/'+strips[0].image" x="240" y="135" height="825px" width="1500px"></image>
            </svg>
            <svg class="stripmuur" x="0px" y="0px" width="1920px" height="1080px" viewBox="0 0 1920 1080" v-if="strips.length===2">
                <polygon class="strip-2" points="0,0 1920,0 1920,1080 " v-bind:style="{fill:strips[1].color}" />
                <image class="strip-2" v-bind:href="'images/'+strips[1].image" x="750" y="50" height="660px" width="1200px"></image>
                <polygon class="strip-1" points="0,1080 0,0 1920,1080 " v-bind:style="{fill:strips[0].color}" />
                <image class="strip-1" v-bind:href="'images/'+strips[0].image" x="20" y="500" height="550px" width="1000px"></image>

            </svg>
            <svg class="stripmuur" x="0px" y="0px" width="1920px" height="1080px" viewBox="0 0 1920 1080" v-if="strips.length===3">
                <rect class="strip-1" width="1080" height="1080" v-bind:style="{fill:strips[0].color}" />
                <image class="strip-1" v-bind:href="'images/'+strips[0].image" x="0" y="200" height="630px" width="1080px"></image>
                <rect class="strip-2" x="1080" width="840" height="540" v-bind:style="{fill:strips[1].color}" />
                <image class="strip-2" v-bind:href="'images/'+strips[1].image" x="1080" y="50" height="420px" width="870px"></image>
                <rect class="strip-3" x="1080" y="540" width="840" height="540" v-bind:style="{fill:strips[2].color}" />
                <image class="strip-3" v-bind:href="'images/'+strips[2].image" x="1080" y="540" height="550px" width="840px"></image>
            </svg>
            <svg class="stripmuur" x="0px" y="0px" width="1920px" height="1080px" viewBox="0 0 1920 1080" v-if="strips.length===4">
                <rect class="strip-1" width="840" height="540" v-bind:style="{fill:strips[0].color}" />
                <image class="strip-1" v-bind:href="'images/'+strips[0].image" x="0" y="0" height="540px" width="840px"></image>
                <rect class="strip-2" y="540" width="840" height="540" v-bind:style="{fill:strips[1].color}" />
                <image class="strip-2" v-bind:href="'images/'+strips[1].image" x="0" y="540" height="540px" width="840px"></image>
                <polygon class="strip-3" points="840,0 840,1080 1920,0 " v-bind:style="{fill:strips[2].color}" />
                <image class="strip-3" v-bind:href="'images/'+strips[2].image" x="860" y="50" height="550px" width="660px"></image>
                <polygon class="strip-4" points="1920,0 840,1080 1920,1080 " v-bind:style="{fill:strips[3].color}" />
                <image class="strip-4" v-bind:href="'images/'+strips[3].image" x="1310" y="550" height="550px" width="550px"></image>
            </svg>
            <svg class="stripmuur" x="0px" y="0px" width="1920px" height="1080px" viewBox="0 0 1920 1080" v-if="strips.length===5">
                <polygon class="strip-1" points="0,0 0,540 960,0 " v-bind:style="{fill:strips[0].color}" />
                <image class="strip-1" v-bind:href="'images/'+strips[0].image" x="-50" y="20" height="300px" width="750px"></image>
                <polygon class="strip-2" points="0,540 0,1080 960,540 960,0" v-bind:style="{fill:strips[1].color}" />
                <image class="strip-2" v-bind:href="'images/'+strips[1].image" x="350" y="300" height="400px" width="550px"></image>
                <polygon class="strip-4" points="960,540 1920,540 1920,1080 " v-bind:style="{fill:strips[3].color}" />
                <image class="strip-4" v-bind:href="'images/'+strips[3].image" x="1350" y="580" height="400px" width="550px"></image>
                <polygon class="strip-3" points="1920,1080 960,540 0,1080 " v-bind:style="{fill:strips[2].color}" />
                <image class="strip-3" v-bind:href="'images/'+strips[2].image" x="680" y="680" height="400px" width="600px"></image>
                <rect class="strip-5" x="960" width="960" height="540" v-bind:style="{fill:strips[4].color}" />
                <image class="strip-5" v-bind:href="'images/'+strips[4].image" x="960" y="0" height="540px" width="960px"></image>
            </svg>

        </div>
    </script>

    <script type="x/templates" id="my-strips">
        <strip-wall v-bind:strips="userStrips" v-bind:click="deleteStrip"></strip-wall>
    </script>

    <script type="x/templates" id="all-strips">
        <strip-items v-bind:strips="allStrips" v-bind:click="addStrip"></strip-items>
    </script>

    <script type="x/templates" id="login">
        <div class="login-form col-sm-3 col-md-3 col-lg-3 ">


            <form class="form-horizontal" v-on:submit="login">
                <h1> Login </h1>
                <div class="form-group">
                    <input type="text" class="form-control" name="username" placeholder="Username" required="" autofocus="" />
                    <input type="password" class="form-control" name="wachtwoord" placeholder="Wachtwoord" required="" />
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2">
                        <button type="submit" class="btn btn-danger">Aanmelden</button>
                        <router-link to="/register">Registreren</router-link>
                    </div>
                </div>
            </form>
        </div>
    </script>

    <script type="x/templates" id="register">
        <div class="register">
            <form class="form-horizontal" v-on:submit="register">
                <h1> Registreren </h1>
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-6">
                            <label for="naam" class=" col-sm-5 control-label">Naam*</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="naam" placeholder="Naam" required>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <label for="voornaam" class=" col-sm-5 control-label">Voornaam*</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="voornaam" placeholder="Voornaam" required>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="gebruikersnaam" class=" col-sm-10 control-label">Gebruikersnaam*</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="gebruikersnaam" placeholder="Gebruikersnaam" required>
                    </div>
                </div>
                <div class="form-group">
                    <label for="emailadres" class=" col-sm-10 control-label">E-mailadres*</label>
                    <div class="col-sm-10">
                        <input type="email" class="form-control" id="emailadres" placeholder="E-mailadres" required>
                    </div>
                </div>
                <div class="form-group">
                    <label for="wachtwoord" class=" col-sm-10 control-label">Wachtwoord*</label>
                    <div class="col-sm-10">
                        <input type="password" class="form-control" id="wachtwoord" placeholder="Wachtwoord" required>
                    </div>
                </div>
                <div class="form-group">
                    <label for="telefoon" class=" col-sm-10 control-label">Telefoonnummer*</label>
                    <div class="col-sm-10">
                        <input type="tel" class="form-control" id="telefoon" placeholder="Telefoonnummer" required>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-danger">Registreren</button>
                    </div>
                </div>
            </form>
        </div>
    </script>

    <script src="helpers/firebase.js"></script>
    <script src="helpers/update-all-strips.js"></script>
    <script src="components/all-strips.js"></script>
    <script src="components/my-strips.js"></script>
    <script src="components/strip-wall.js"></script>
    <script src="components/strip-items.js"></script>
    <script src="components/login.js"></script>
    <script src="components/register.js"></script>
    <script src="js/strips.js"></script>
    <script src="js/app.js"></script>
</body>

</html>