<html>

<head>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="../slicknav/slicknav.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>

    <div id="app">
        <div class="navigatie">
            <div class="logo"> </div>
            <ul class="nav">
                <li><a href="/zoeff"> Home </a></li>
                <li>
                    <router-link to="/my">Mine</router-link>
                </li>
                <li>
                    <router-link to="/add">Add</router-link>
                </li>
                <div class="sm-login">
                    <a href="#"><i class="fa fa-facebook-official" aria-hidden="true"></i></a>
                    <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                    <a href="#"><i class="fa fa-youtube-play" aria-hidden="true"></i></a>
                </div>
            </ul>
        </div>
        <div class="mobilemenu"></div>
        <div class="container-fluid">
            <!-- use router-link component for navigation. -->
            <!-- specify the link by passing the `to` prop. -->
            <!-- <router-link> will be rendered as an `<a>` tag by default -->
            <!-- route outlet -->
            <!-- component matched by the route will render here -->
            <router-view></router-view>
            <!-- Footer -->
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/lodash/4.17.4/lodash.min.js"></script>
    <script src="vendor/vex.combined.min.js"></script>
    <script src="https://unpkg.com/vue"></script>
    <script src="https://unpkg.com/vue-router"></script>
    <script src="https://www.gstatic.com/firebasejs/4.0.0/firebase.js"></script>
    <script src="https://unpkg.com/vuefire/dist/vuefire.js"></script>
    <script>
        vex.defaultOptions.className = 'vex-theme-default'
    </script>

    <script type="x/templates" id="quiz">
        <div>
            <h1> Welk stripfiguur ben jij? </h1>
            <form v-on:submit="submit">
                <div v-for="question in questions">
                    <div class="col-xs-12 question">
                        <h3>{{question.text}}</h3>

                        <div v-for="answer in question.responses" class="answer">
                            <label v-if="question.type==='text'">
                                  <input  v-if="question.type==='text'" type="radio" v-bind:name="question.text" v-bind:value="answer.value" required>
                                    {{answer.text}}</label>
                            </label>
                            <label>
                            <input v-if="question.type==='image'" type="radio" v-bind:name="question.text" v-bind:value="answer.value" required>
                            <img v-if="question.type==='image'" v-bind:src="answer.url" alt="" class="answer-image">
                            </label>
                        </div>

                    </div>
                </div>
                <button class="btn btn-danger" type="submit">Indienen</button>
                <div v-if="answer" class="results">
                    <h2>Jij bent {{answer}}.</h2>
                    <img v-bind:src="'images/'+answer+'.png'" v-bind:alt="answer" class="result-image">
                    <router-link to="/my" tag="button" class="btn btn-default" type="button">Ga naar jouw stripmuur</router-link>
                </div>
            </form>
        </div>
    </script>

    <script type="x/templates" id="strip-items">
        <div class="strip-items row">
            <div v-on:click="stripClick(strip)" v-for="strip in strips" class="strip-item" v-bind:class="strip.orientation==='landscape'? 'landscape': 'portrait'"
                v-bind:style="{backgroundColor: strip.color }">
                <img v-bind:alt="strip.name" v-bind:src="'images/'+ strip.image">
            </div>
        </div>
    </script>

    <script type="x/templates" id="strip-wall">
        <div class="strip-items row">
            <svg class="stripmuur" x="0px" y="0px" width="1920px" height="1080px" viewBox="0 0 1920 1080" v-if="strips.length===1">
                <rect class="strip-1" width="1920" height="1080" v-bind:style="{fill:strips[0].color}" />
                <image class="strip-1" v-bind:href="'images/'+strips[0].image" x="240" y="135" height="825px" width="1500px"></image>
            </svg>
            <svg class="stripmuur" x="0px" y="0px" width="1920px" height="1080px" viewBox="0 0 1920 1080" v-if="strips.length===2">
                <polygon class="strip-2" points="0,0 1920,0 1920,1080 " v-bind:style="{fill:strips[1].color}" />
                <image class="strip-2" v-bind:href="'images/'+strips[1].image" x="750" y="50" height="660px" width="1200px"></image>
                <polygon class="strip-1" points="0,1080 0,0 1920,1080 " v-bind:style="{fill:strips[0].color}" />
                <image class="strip-1" v-bind:href="'images/'+strips[0].image" x="20" y="500" height="550px" width="1000px"></image>

            </svg>
            <svg class="stripmuur" x="0px" y="0px" width="1920px" height="1080px" viewBox="0 0 1920 1080" v-if="strips.length===3">
                <rect class="strip-1" width="1080" height="1080" v-bind:style="{fill:strips[0].color}" />
                <image class="strip-1" v-bind:href="'images/'+strips[0].image" x="0" y="200" height="630px" width="1080px"></image>
                <rect class="strip-2" x="1080" width="840" height="540" v-bind:style="{fill:strips[1].color}" />
                <image class="strip-2" v-bind:href="'images/'+strips[1].image" x="1080" y="50" height="420px" width="870px"></image>
                <rect class="strip-3" x="1080" y="540" width="840" height="540" v-bind:style="{fill:strips[2].color}" />
                <image class="strip-3" v-bind:href="'images/'+strips[2].image" x="1080" y="540" height="550px" width="840px"></image>
            </svg>
            <svg class="stripmuur" x="0px" y="0px" width="1920px" height="1080px" viewBox="0 0 1920 1080" v-if="strips.length===4">
                <rect class="strip-1" width="840" height="540" v-bind:style="{fill:strips[0].color}" />
                <image class="strip-1" v-bind:href="'images/'+strips[0].image" x="0" y="0" height="540px" width="840px"></image>
                <rect class="strip-2" y="540" width="840" height="540" v-bind:style="{fill:strips[1].color}" />
                <image class="strip-2" v-bind:href="'images/'+strips[1].image" x="0" y="540" height="540px" width="840px"></image>
                <polygon class="strip-3" points="840,0 840,1080 1920,0 " v-bind:style="{fill:strips[2].color}" />
                <image class="strip-3" v-bind:href="'images/'+strips[2].image" x="860" y="50" height="550px" width="660px"></image>
                <polygon class="strip-4" points="1920,0 840,1080 1920,1080 " v-bind:style="{fill:strips[3].color}" />
                <image class="strip-4" v-bind:href="'images/'+strips[3].image" x="1310" y="550" height="550px" width="550px"></image>
            </svg>
            <svg class="stripmuur" x="0px" y="0px" width="1920px" height="1080px" viewBox="0 0 1920 1080" v-if="strips.length===5">
                <polygon class="strip-1" points="0,0 0,540 960,0 " v-bind:style="{fill:strips[0].color}" />
                <image class="strip-1" v-bind:href="'images/'+strips[0].image" x="-50" y="20" height="300px" width="750px"></image>
                <polygon class="strip-2" points="0,540 0,1080 960,540 960,0" v-bind:style="{fill:strips[1].color}" />
                <image class="strip-2" v-bind:href="'images/'+strips[1].image" x="350" y="300" height="400px" width="550px"></image>
                <polygon class="strip-4" points="960,540 1920,540 1920,1080 " v-bind:style="{fill:strips[3].color}" />
                <image class="strip-4" v-bind:href="'images/'+strips[3].image" x="1350" y="580" height="400px" width="550px"></image>
                <polygon class="strip-3" points="1920,1080 960,540 0,1080 " v-bind:style="{fill:strips[2].color}" />
                <image class="strip-3" v-bind:href="'images/'+strips[2].image" x="680" y="680" height="400px" width="600px"></image>
                <rect class="strip-5" x="960" width="960" height="540" v-bind:style="{fill:strips[4].color}" />
                <image class="strip-5" v-bind:href="'images/'+strips[4].image" x="960" y="0" height="540px" width="960px"></image>
            </svg>

        </div>
    </script>

    <script type="x/templates" id="my-strips">
        <strip-wall v-bind:strips="userStrips" v-bind:click="deleteStrip"></strip-wall>
    </script>

    <script type="x/templates" id="all-strips">
        <strip-items v-bind:strips="allStrips" v-bind:click="addStrip"></strip-items>
    </script>

    <script type="x/templates" id="login">
        <div class="login-form col-sm-3 col-md-3 col-lg-3 ">
            <form class="form-horizontal" v-on:submit="login">
                <h1> Aanmelden </h1>
                <div class="form-group">
                    <input type="text" class="form-control" name="username" placeholder="Username" required="" autofocus="" />
                    <input type="password" class="form-control" name="wachtwoord" placeholder="Wachtwoord" required="" />
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2">
                        <button type="submit" class="btn btn-danger">Aanmelden</button>
                        <router-link to="/register" class="btn btn-secondary">Registreren</router-link>
                    </div>
                </div>
            </form>
        </div>

    </script>

    <script type="x/templates" id="register">
        <div class="register">
            <form class="form-horizontal" v-on:submit="register">
                <h1> Registreren </h1>
                <div class="form-group">
                    <div class="col-sm-10">
                        <h5> Naam: </h5>
                        <input type="text" class="form-control" id="naam" placeholder="Naam" required>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-10">
                        <h5> Voornaam*: </h5>
                        <input type="text" class="form-control" id="voornaam" placeholder="Voornaam" required>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-10">
                        <h5> Gebruikersnaam*: </h5>
                        <input type="text" class="form-control" id="gebruikersnaam" placeholder="Gebruikersnaam" required>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-10">
                        <h5> E-mailadres*: </h5>
                        <input type="email" class="form-control" id="emailadres" placeholder="E-mailadres" required>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-10">
                        <h5> Wachtwoord*: </h5>
                        <input type="password" class="form-control" id="wachtwoord" placeholder="Wachtwoord" required>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-10">
                        <h5> Telefoonnummer*: </h5>
                        <input type="tel" class="form-control" id="telefoon" placeholder="Telefoonnummer" required>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-10">
                        <h5> Bonus vraag: Wat is jouw favoriete stripboek aller tijden?: </h5>
                        <input type="text" class="form-control" id="favorite" placeholder="Favoriete stripboek aller tijden">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-danger">Registreren</button>
                        <router-link to="/login" class="btn btn-secondary">Aanmelden</router-link>
                    </div>
                </div>
            </form>
        </div>
    </script>

    <script src="helpers/firebase.js"></script>
    <script src="helpers/update-all-strips.js"></script>
    <script src="components/quiz.js"></script>
    <script src="components/all-strips.js"></script>
    <script src="components/my-strips.js"></script>
    <script src="components/strip-wall.js"></script>
    <script src="components/strip-items.js"></script>
    <script src="components/login.js"></script>
    <script src="components/register.js"></script>
    <script src="js/questions.js"></script>
    <script src="js/strips.js"></script>
    <script src="js/app.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    <script src="../slicknav/jquery.slicknav.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $(".nav").slicknav();
            $(".slicknav_menu").prepend('<div class="logo"> </div>')
        });
    </script>
</body>

</html>