@import "bootstrap.override.scss";
@import "../node_modules/bootstrap/scss/bootstrap.scss";
@import "../scss/font-awesome.scss";
// Variables //
$header-font: 'Bangers';
$body-font: 'Raleway';

/* font-family: 'Bangers', cursive;
font-family: 'Raleway', sans-serif; */

body {
  h1,
  h2,
  h3 {
    font-family: $header-font;
  }
  h1 {
    font-size: 8em;
  }
  h2 {
    font-size: 4.5em;
  }
  p {
    font-family: $body-font;
    font-size: 1.3em;
  }
}

.logo {
  background-image: url("../images/logo-white.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 100px;
  width: 100px;
  float: left;
  margin: auto;
}

.white {
  color: $white;
}

.red {
  color: $red;
}

.navigatie {
  // z-index: 100;
  //position: fixed;
  text-align: left;
  background-color: $red;
  width: 100%;
  display: flex;
  .logo {
    background-image: url("../images/logo-white.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 50px;
    width: 10%;
    margin: auto;
  }
  .nav {
    display: inline-block;
    width: 100%;
    font-size: 1.4em;
    margin-left: auto;
    align-self: center;
    margin-right: auto;
    li {
      display: inline;
    }
    a {
      text-decoration: none;
      color: $white;
      font-family: 'Bangers';
      padding: 0 1em;
    }
    a:hover {
      text-decoration: underline;
    }
    .sm-login {
      float: right;
      color: $white;
      a {
        padding: 0 0.5em;
      }
    }
  }
}

.header {
  .image {
    position: relative;
    width: 100%;
    img {
      width: 100%;
    }
  }
  .header-text {
    position: absolute;
    top: 10em;
    right: 20rem;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 50px;
    color: $red;
  }
}

.row {
  .no-padding {
    padding-right: 0;
    padding-left: 0;
  }
  .map {
    text-align: center;
  }
  #box {
    height: auto;
    &.red-box {
      background-color: $red;
    }
    &.white-box {
      background-color: $white;
    }
    .content {
      text-align: center;
      margin: 10% auto;
    }
    .about-p,
    .opmaat-p {
      text-align: left;
      width: 50%;
      margin: auto;
      margin-bottom: 2%;
    }
    iframe {
      padding: 5%;
    }
  }
  .about-img {
    height: 100%;
    background-image: url("../images/about.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  .box-img {
    height: 100%;
    background-image: url("../images/box.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  .birthday-img {
    height: 100%;
    background-image: url("../images/extra/verjaardag.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  .school-img {
    height: 100%;
    background-image: url("../images/extra/school.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  .extra-img {
    height: 100%;
    background-image: url("../images/extra/extra.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  .round-img {
    height: 500px;
    background-image: url("../images/round.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    margin: auto;
  }
  .form-horizontal {
    font-family: $header-font;
    font-size: 1.2em;
    color: $red;
  }
}

.footer {
  p,
  a {
    font-family: $body-font;
    font-size: 1.2em;
    color: $red;
  }
}

.footer-logo {
  background-image: url("../images/logo.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 100px;
  margin: auto;
}

.slicknav_menu {
  display: none;
}

// Extra large devices (large desktops, 1200px and up)
@media (max-width: 1200px) {}

// Large devices (desktops, 992px and up)
@media (max-width: 992px) {
  body {
    h1,
    h2,
    h3 {
      font-family: $header-font;
    }
    h1 {
      font-size: 6em;
    }
    h2 {
      font-size: 3em;
    }
    p {
      font-family: $body-font;
      font-size: 1.3em;
    }
  }
  .row {
    .about-img {
      height: 500px;
    }
    .box-img {
      height: 500px;
    }
    #box {
      height: auto;
      text-align: center;
    }
    iframe {
      padding: 5%;
      width: 100%;
    }
  }
}

// Medium devices (tablets, 768px and up)
@media (max-width: 768px) {
  .navigatie {
    display: none;
  }
  .mobilemenu {
    .slicknav_menu {
      display: block;
      background-color: $red;
      a {
        background-color: $red;
        font-family: $header-font;
        font-size: 2.5em;
        text-align: center;
      }
      .sm-login {
        a {
          i {
            display: none;
          }
        }
      }
    }
  }
}

// Small devices (landscape phones, 576px and up)
@media (max-width: 576px) {}