@import "../node_modules/bootstrap/scss/bootstrap.scss";
/* font-family: 'Bangers', cursive;
font-family: 'Raleway', sans-serif; */
body h1, body h2{
   font-family: 'Bangers';
   
}
body h1{
  font-size: 7em;
}
body h2{
 font-size: 4em;
}
body p{
  font-size: 1.2em;
}
.white{
  color:white;
}
.red{
  color:#E74034;
}
.logo{
  background-image:url("../images/logo.png");
  background-size:contain;
  background-repeat:no-repeat;
  background-position:center;
  height:50px;
  width:10%;
  margin:auto;
}
.navigatie{
  text-align:left;
  background-color:#E74034;
  width:100%;
  display:flex;
}
nav{
  display:inline-block;
  width:100%;
  font-size:1.4em;

  margin-left: auto;
  align-self: center;
  margin-right: auto;
}
nav a{
  text-decoration:none;
  color:white;
  font-family: 'Bangers';
  padding: 0 1em;
}
a:hover{
  text-decoration: underline;
}
.header img{
  width: 100%;
}

.row .no-padding{
    padding-right:0;
    padding-left:0;
}
.about-img{
  height: 500px;
  background-image: url("../images/about.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
#about {
  height: 500px;
  background-color:#E74034;
}
.about-content{
  width: 50%;
  text-align: center;
  margin: 10% auto;
}
.about-p, .opmaat-p{
  text-align: left;
}
p{
  font-family: 'Raleway', sans-serif;
}
.box-img{
  height: 500px;
  background-image: url("../images/box.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
#box{
  height: 500px;
  background: white;
}
.redbutton{
    background:#E74034;
    font-family: 'Bangers';
    border: #E74034;
    padding: 5px 20px;
    border-radius: 5px;
}
.redbutton:hover{
    background: rgba(231,64,52,.90);
}
.round-img{
  height: 33vw;
  background-image: url("../images/round.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 100%;
  width: 33vw;
  margin: auto;
}
/*
.trapezium {
  width: 50%;
  height: 500px;
  background-image: url("../images/about.jpg");
  background-size: cover;
  background-repeat: no-repeat;
-webkit-clip-path: polygon(0 0, 100% 0%, 100% 80%, 0% 100%);
clip-path: polygon(0 0, 100% 0%, 100% 80%, 0% 100%);
}
.trapezium2 {
  width: 50%;
  height: 500px;
  background:red;
  background-size: cover;
  background-repeat: no-repeat;
-webkit-clip-path: polygon(0 0, 100% 0%, 100% 60%, 0% 80%);
clip-path: polygon(0 0, 100% 0%, 100% 60%, 0% 80%);
}

*/